<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
    <title>Xiaolong's Handmade Website</title>
  </head>
  <body style="font-family: 'Long Cang', cursive;">
      <button>
        <h6>Login <a href="/admin">admin page</a><h6/>
      </button>
      <h1>Free car wash call <a href="tel:+1972-736-7231">972-736-7231</a></h1>
      <img src="https://lh5.googleusercontent.com/x37MhzDO__f6m91EBoascNZgqjYN6XLBxWcXoh0YiMxf32IU-S53B15fXnH9Ot-HiIkT7NKW0_Fh2CfSMAxu2ka1_RXckjZXE5fqWrysGbsmPKMfbx2Y=w572" alt="my face"/>
<br/>
    Find me at <a href="https://www.xiaolongli.net/">xiaolongli.net</a>
  </body>
</html>
